In [1]:
import bs4
import urllib.request as url

In [2]:
reviews = {"review" : [], "sentiment" : []}
for i in range(1,11):
    path = f"https://www.flipkart.com/apple-iphone-12-green-128-gb/product-reviews/itm4e0a120f7d9c4?pid=MOBFWBYZQXUEHF48&lid=LSTMOBFWBYZQXUEHF481T4EBB&aid=overall&certifiedBuyer=false&sortOrder=POSITIVE_FIRST&page={i}"
    response = url.urlopen(path)
    page = bs4.BeautifulSoup(response)
    reviewList = page.find_all('div', {'class' : 't-ZTKy'})
    for i in range(len(reviewList)):
        reviews['review'].append(reviewList[i].text)
        reviews['sentiment'].append(1)

In [4]:
# reviews

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(reviews)

In [7]:
df.head()

                                              review  sentiment
0  Wow superb camera phone Very smooth speed and ...          1
1  The brand is very trustworthy and i got genuin...          1
2  Awesome phone … value for money.. Happy with b...          1
3  Guys ,this is just Beast at Every Aspect of Co...          1
4  Thanks flipkart i trust you got my device perf...          1

In [8]:
df.shape

(100, 2)

In [9]:
for i in range(1,11):
    path = f"https://www.flipkart.com/apple-iphone-12-green-128-gb/product-reviews/itm4e0a120f7d9c4?pid=MOBFWBYZQXUEHF48&lid=LSTMOBFWBYZQXUEHF481T4EBB&aid=overall&certifiedBuyer=false&sortOrder=NEGATIVE_FIRST&page={i}"
    response = url.urlopen(path)
    page = bs4.BeautifulSoup(response)
    reviewList = page.find_all('div', {'class' : 't-ZTKy'})
    for i in range(len(reviewList)):
        reviews['review'].append(reviewList[i].text)
        reviews['sentiment'].append(0)

In [10]:
df = pd.DataFrame(reviews)

In [11]:
df.head()

                                              review  sentiment
0  Wow superb camera phone Very smooth speed and ...          1
1  The brand is very trustworthy and i got genuin...          1
2  Awesome phone … value for money.. Happy with b...          1
3  Guys ,this is just Beast at Every Aspect of Co...          1
4  Thanks flipkart i trust you got my device perf...          1

In [12]:
df.tail()

                                         review  sentiment
195                        Worst phoneREAD MORE          0
196                     not economicalREAD MORE          0
197  The phone is not working properlyREAD MORE          0
198         Notch makes the phone uglyREAD MORE          0
199                            AverageREAD MORE          0

In [13]:
df.shape

(200, 2)