In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "height" : [5.8,4.5,5.0,5.2,6.1,5.8,5.9,5.10,5.7,6.2,5.2,5.4,5.9],
    "weight" : [75,47,51,54,80,77,90,70,58,91,49,61,73],
    "gender" : ['m','f','f','f','m','m','m','m','f','m','f','f','m']
}

In [3]:
df = pd.DataFrame(data)

In [5]:
df.head()

   height  weight gender
0     5.8      75      m
1     4.5      47      f
2     5.0      51      f
3     5.2      54      f
4     6.1      80      m

In [6]:
total = df['gender'].count()

In [7]:
total

13

In [11]:
male_count = df[df['gender'] == 'm']['gender'].count()

In [12]:
female_count = df[df['gender'] == 'f']['gender'].count()

In [13]:
male_count, female_count

(7, 6)

In [14]:
male_prob = male_count / total
female_prob = female_count / total

In [15]:
male_prob, female_prob

(0.5384615384615384, 0.46153846153846156)

In [32]:
test_df = pd.DataFrame({'height' : [5.9], 'weight' : [70]})

In [33]:
test_df

   height  weight
0     5.9      70

In [20]:
df.groupby('gender').mean()

          height     weight
gender
f       5.166667  53.333333
m       5.828571  79.428571

In [21]:
mean = df.groupby('gender').mean()

In [22]:
var = df.groupby('gender').var()

In [23]:
var

          height     weight
gender
f       0.162667  29.066667
m       0.125714  66.952381

In [24]:
m_mean_h = mean['height'][1]
m_mean_w = mean['weight'][1]
m_var_h = var['height'][1]
m_var_w = var['weight'][1]

In [25]:
f_mean_h = mean['height'][0]
f_mean_w = mean['weight'][0]
f_var_h = var['height'][0]
f_var_w = var['weight'][0]

In [26]:
def likelihood(x, mean, var):
    return (1 / (np.sqrt(2 * np.pi * var))) * (np.exp(-((x-mean) ** 2) / (2 * var)))

In [34]:
male_pred = likelihood(test_df['height'], m_mean_h, m_var_h) * likelihood(test_df['weight'], m_mean_w, m_var_w) * male_prob

In [35]:
female_pred = likelihood(test_df['height'], f_mean_h, f_var_h) * likelihood(test_df['weight'], f_mean_w, f_var_w) * female_prob

In [36]:
male_pred > female_pred

0    True
dtype: bool