In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "outlook" : ['sunny','sunny','overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy'],
    "temp" : ['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild'],
    'humidity' : ['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high'],
    'windy' : ['false','true','false','false','false','true','true','false','false','false','true','true','false','true'],
    'play' : ['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  false   no
1     sunny   hot     high   true   no
2  overcast   hot     high  false  yes
3     rainy  mild     high  false  yes
4     rainy  cool   normal  false  yes

In [5]:
pd.value_counts(df['play'])

yes    9
no     5
Name: play, dtype: int64

In [6]:
pd.value_counts(df['play'])[0]

9

In [8]:
targetValues = pd.value_counts(df['play'])
total = df.shape[0]
entropy = 0
for i in targetValues:
    x = (-i/total) * np.log2(i/total)
    entropy += x

In [9]:
entropy

0.9402859586706311

In [10]:
pd.value_counts(df['outlook'])

sunny       5
rainy       5
overcast    4
Name: outlook, dtype: int64

In [12]:
pd.value_counts(df[df['outlook'] == 'sunny']['play'])

no     3
yes    2
Name: play, dtype: int64

In [17]:
outcome = pd.value_counts(df[df['outlook'] == 'sunny']['play'])

In [19]:
sum(outcome)

5

In [13]:
pd.value_counts(df[df['outlook'] == 'rainy']['play'])

yes    3
no     2
Name: play, dtype: int64

In [14]:
pd.value_counts(df[df['outlook'] == 'overcast']['play'])

yes    4
Name: play, dtype: int64

In [15]:
values = pd.unique(df['outlook'])

In [16]:
values

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [33]:
def calcAvg(colName):
    n = df.shape[0]
    avgInfo = 0
    values = np.unique(df[colName])
    for val in values:
        outcome = pd.value_counts(df[df[colName] == val]['play'])
        totalOutcomes = sum(outcome)
        entropy = 0
        for out in outcome:
            x = (-out/totalOutcomes) * np.log2(out/totalOutcomes)
            entropy += x
        avgInfo += totalOutcomes/n * entropy
    return avgInfo

In [34]:
calcAvg('outlook')

0.6935361388961918

In [35]:
calcAvg('temp')

0.9110633930116763

In [36]:
calcAvg('humidity')

0.7884504573082896

In [37]:
calcAvg('windy')

0.8921589282623617