In [2]:
import pandas as pd
import numpy as np
import urllib.request as url
import json

In [3]:
res = url.urlopen('https://data.covid19india.org/states_daily.json')
data = json.load(res)

In [4]:
type(data)

dict

In [5]:
states = data['states_daily']

In [6]:
df = pd.DataFrame(states)

In [7]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [8]:
df.columns

Index(['an', 'ap', 'ar', 'as', 'br', 'ch', 'ct', 'date', 'dateymd', 'dd', 'dl',
       'dn', 'ga', 'gj', 'hp', 'hr', 'jh', 'jk', 'ka', 'kl', 'la', 'ld', 'mh',
       'ml', 'mn', 'mp', 'mz', 'nl', 'or', 'pb', 'py', 'rj', 'sk', 'status',
       'tg', 'tn', 'tr', 'tt', 'un', 'up', 'ut', 'wb'],
      dtype='object')

In [10]:
# df[df['status'] == 'Confirmed']['tt'].sum()

In [11]:
df['dl'] = df['dl'].astype('int')
df['mh'] = df['mh'].astype('int')
df['rj'] = df['rj'].astype('int')
df['hr'] = df['hr'].astype('int')
df['tt'] = df['tt'].astype('int')

In [12]:
df[df['status'] == 'Confirmed']['tt'].sum()

32249044

In [14]:
df['dateymd'][0]

'2020-03-14'

In [15]:
df['dateymd'] = pd.to_datetime(df['dateymd'])

In [16]:
df['dateymd'][0]

Timestamp('2020-03-14 00:00:00')

In [17]:
confirmed_df = df[df['status'] == 'Confirmed']
recovered_df = df[df['status'] == 'Recovered']
deceased_df = df[df['status'] == 'Deceased']

In [18]:
confirmed_df['dl'].sum()

1437118

In [19]:
deceased_df['dl'].sum()

25069

In [20]:
deceased_df['tt'].sum()

432117